#login {
	text-align: center;
}


#login input{
	width: 200px;
	height: 4em;
	border-radius: 20px;
	text-decoration: none;
	border: none;
	text-align: center;
}

#login button{
	width: 100px;
	height: 4em;
	border-radius: 20px;
	text-align: none;
	border: none;
}

#email{
	margin-bottom: 20px;
}

#password{
	margin-bottom:5px;
}


#login-home{
  text-align: center;
}

#login-form{
	padding-top: 200px;
}

#login-submit{
	margin-top: 20px;
	margin-bottom: 20px;
}

