@import url('https://fonts.googleapis.com/css?family=Orienta');

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');


#matches_container > div{
   width: 80%;
   height: 150px;
   background-color: transparent;
   margin-bottom: 20px;
   margin-top: 20px;
   margin-left: 12%;
   margin-right: 15%;
   padding-bottom: 20px;
   border-radius: 20px;
}

#matches_container  p{

}


#matches_container img{

}

#timer{

}

#timer input{
	width: 30px;
	height:20px;
	border: none;
	background-color: transparent;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}



#message_container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
    width: 100%;
    height: 100vh;
    display: none;
}


#close p{
	color: black;
}


#message_container h3{
	color: red;
}



