@import url('https://fonts.googleapis.com/css?family=Orienta');

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

#gender_select_form{
	width: 100%;
	height: 100vh;
	background-color: #9C08D9;
	text-align: center;
}


#gender_select_form h3{
  color: #fff;
  font-size: 40px;
  font-family: 'Lily Script One', cursive;
  padding-top: 200px;
  padding-bottom: 100px;
}

#gender_select_form ul{

}

#gender_select_form li{
	font-family: 'Orienta', sans-serif;
	font-size: 20px;
	color: #fff;
	padding-bottom: 30px;
}

#gender_select_form a{
	color: #fff;
    text-decoration: none;
}

#gender_select_form a:visited{
	color: #fff;
	text-decoration: none;
}